div#main-container{
    margin: 2%;
    margin-bottom: 4%;

    width: 90%;
    height: auto;

    background-color: whitesmoke;
}

.container-fluid#personal-content{
    border: 1px fuchsia dotted;
}
/**
div#upper-header {
    height: 5em;
    align-content: space-between;

    margin-top: 1em;
    margin-bottom: 1em;

    border: dotted black 1px;
    border-radius: 1em;

    background-color:cornsilk;
}**/

div#lower-header{
    align-content: space-around;
}
/*
div.row div {
    border: 1px black solid;
}
*/
#about {
    border: 1px green dotted;
    border-radius: 0px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    margin-top: 0px;
    margin-bottom: 1em;

    padding: 3em;

    height: 16em;

    background-color: cornsilk;
}

#avatar{
    /**
    max-width: 128px;
    min-width: 64px;
    max-height: 128px;
    min-height: 64px;
    **/

    max-height: 128px;
    max-width: 128px;
}

#avatar-name{
    border: 1px solid black;

    align-content: center;
}

#about-info{
    border: 1px solid black;
}

#whitespace {
    text-align: center;
}

#ap-logo{
    text-align:center;
}

#ap-text{
    /*
    padding-top: 1.6em;
    padding-bottom: 1em;
    padding-left: 1em;

    display:table-cell;
    vertical-align:middle;
    */

    font-family:'Encode Sans Semi Expanded';
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    line-height: 80%;
}

#header-buttons {
    text-align: center;
}

#experience > .col-sm-10,
#education > .col-sm-10,
#skills > .col-sm-10,
#projects > .col-sm-10,
div.shadow{
    margin-top: 1em;
    margin-bottom: 1em;

    padding: 2em;
    padding-bottom: 3em;

    background-color: cornsilk;

    border-radius: 1em;
}

#banner {
    border-radius: 0px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    height:fit-content;

    padding: 1em;

    margin-top: 1em;
    margin-bottom: 0px;

    text-align: center;
    text-shadow: 1em;

    border: 1px palevioletred dotted;
}

#footer-copyright {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
}

#header-buttons{
    display:grid;

    align-content:center;
    }