<!-- Barra superior de la página -->
<div class="container-fluid shadow p-4 mb-4 bg-white" id="header">

        <!--
        <div class="row" style="height: 100%;">
            <div class="col-sm-2" id="ap-logo">
                <img class="img-fluid float-start" src="../assets/AP-logo-negro-color.png"
                    alt="Logo Argentina Programa">
            </div>
            <div class="col-sm-6" id="ap-text">
                Argentina<br>programa
            </div>
            <div class="col-sm-4" id="header-buttons">
                <div class="row">
                    <div class="col-sm" style="padding-top: 4px;padding-bottom: 4px;">
                        <button type="button" class="btn btn-light"><a href="#">Instagram</a></button>
                    </div>
                    <div class="col-sm" style="padding-top: 4px;padding-bottom: 4px;">
                        <button type="button" class="btn btn-light"><a href="#">Mail</a></button>
                    </div>
                    <div class="col-sm" style="padding-top: 4px;padding-bottom: 4px;">
                        <button type="button" class="btn btn-primary"><a href="#"
                                style="color: white;">Acceso</a></button>
                    </div>
                </div>
            </div>
        </div>
        -->
</div>