    <div class="container-fluid shadow p-4 mb-4 bg-gray" id="main-container">
        <header>
            <app-header></app-header>
        </header>
        <!-- Banner de la página -->
        <app-banner></app-banner>
        <!-- Avatar e información -->
        <app-userinfo></app-userinfo>
        <!--
    <nav>
    </nav> 
    -->
        <div class="container-fluid" id="personal-content">
            <section id="experience">
                <!-- Empieza section EXP laboral-->
                <app-exp></app-exp>
            </section>

            <section id="education">
                <!-- Empieza section EDUC-->
                <app-educ></app-educ>
            </section>

            <section id="skills">
                <!-- Empieza section HABILIDADES-->
                <app-skills></app-skills>
            </section>

            <section id="projects">
                <!-- Empieza section PROYECTOS-->
                <app-proj></app-proj>
            </section>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>