div#main-container{
    margin: 2%;
    margin-bottom: 4%;

    width: 90%;
    height: auto;

    background-color: whitesmoke;
}

.container-fluid#personal-content{
    border: 1px fuchsia dotted;
}


/*
div.row div {
    border: 1px black solid;
}
*/
#whitespace {
    text-align: center;
}

#ap-logo{
    text-align:center;
}

#ap-text{
    /*
    padding-top: 1.6em;
    padding-bottom: 1em;
    padding-left: 1em;

    display:table-cell;
    vertical-align:middle;
    */

    font-family:'Encode Sans Semi Expanded';
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    line-height: 85%;
}

#header-buttons {
    text-align: center;
}

div.shadow{
    margin-top: 1em;
    margin-bottom: 1em;

    padding: 2em;
    padding-bottom: 3em;

    background-color: cornsilk;

    border-radius: 1em;
}

#footer-copyright {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
}

#header-buttons{
    display:grid;

    align-content:center;
    }